<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Huber's Tech Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <!--fontawesome icons-->
        <script src="https://kit.fontawesome.com/80af804818.js" crossorigin="anonymous"></script>                
        <link rel="stylesheet" href="/css/tailwind.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="bg-sky-800">
        <!-- Navbar starts here -->
        <header class="bg-sky-800">
            <div class="px-4 py-6 mx-auto md:px-6 lg:px-8 xl:max-w-7xl 2xl:max-w-[1536px]">

                <!-- Container for navbar content -->
                <div class="flex flex-wrap md:flex md:flex-wrap items-center justify-between">

                    <!-- Logo or brand name -->
                    <div class="w-full text-center md:w-1/2 md:text-left">
                        <a href="/" class="p-2 text-3xl font-bold text-center text-zinc-100 md:text-left md:text-3xl" >
                            Huber's 
                            <span class="text-orange-400">Tech Blog</span>
                        </a>
                    </div>

                    <!-- Navbar links list -->
                    <div class="w-full p-2 justify-center md:w-1/2 md:justify-end flex">
                        <!-- HomePage link (Blog page) -->
                        <li class="nav-item">
                            <a href="/" class="p-2 text-sm sm:text-lg sm:font-medium duration-200 ease-in-out text-orange-400 hover:text-zinc-100">Homepage</a>
                        </li>

                        <!-- Dashboard link (User page) -->
                        <li class="nav-item">
                            <a href="/dashboard" class="p-2 text-sm sm:text-lg sm:font-medium duration-200 ease-in-out text-orange-400 hover:text-zinc-100">Dashboard</a>
                        </li>

                        <!-- Conditionally rendered links -->
                        {{#if logged_in}}

                        <li class="nav-item"></li>                            
                            <button id="logout-button" class="p-2 text-sm sm:text-lg sm:font-medium duration-200 ease-in-out text-orange-400 hover:text-zinc-100"><i class="fa-solid fa-right-from-bracket fa-lg hover:animate-pulse"></i></button>
                        </li>

                        {{else}}
                        <!-- Login/Sign Up link -->
                        <li class="nav-item">
                            <a href="/login" class="p-2 text-sm sm:text-md sm:font-medium lg:text-lg duration-200 ease-in-out text-orange-400 hover:text-zinc-100">Login/Sign Up</a>
                        </li>
                        {{/if}}
                    </div>
                </div>
                {{#if logged_in}}
                    <p class="bg-green-700 flex items-center justify-center p-1 text-center text-zinc-100 w-1/2 m-auto">Log in as: {{name}}</p>
                    <p class="bg-green-700 flex items-center justify-center p-1 text-center text-zinc-100 w-1/2 m-auto">Session expires: {{expire}}</p>
                {{else}}
                    <p class="bg-red-500 flex items-center justify-center p-1 text-center text-zinc-100 w-1/2 m-auto">Not logged in {{name}}</p>
                    <p class="bg-red-500 flex items-center justify-center p-1 text-center text-zinc-100 w-1/2 m-auto">Session expires: {{expire}}</p>
                {{/if}}
            </div>
        </header>

        {{{body}}}

{{#if logged_in}}
    {{!-- Elements are conditionally available that logout.js references --}}
    <script src="/js/logout.js"></script> 
{{else}}
{{/if}}

    </body>
</html>