<main class=" align-center">

    {{!-------------}}
    {{!-- Heading --}}
    {{!-------------}}
    <h1 class="flex items-center justify-center p-2 text-3xl font-semibold text-center md:text-4xl text-[#323232]">
        &nbsp;{{blog.blog_title}}&nbsp;        
    </h1>

    {{!--------------}}
    {{!-- One Blog --}}
    {{!--------------}}
    <div class="mx-auto w-5/6">        
        <div class="m-auto my-5 border-4 border-[#323232] bg-[#dedbd4] rounded-xl max-w-3xl">             
            {{!-- Blog Title and author --}}
            <div class="flex bg-[#bab0a1] p-2 m-2 rounded-t-md ">
                <div class="w-3/5 text-2xl font-semibold text-[#323232] duration-100 ease-in-out hover:text-gray-200 hover:underline">
                    <p>{{blog.blog_title}}</p>                           
                </div>
                <div class="text-sm w-2/5 text-right">
                    <p> Posted by {{blog.user.name}} On {{format_date blog.blog_date}}</p>                                                    
                    <p>{{blog.user.email}}</p>
                </div>
            </div>
            {{!-- Blog body --}}
            <div class="bg-[#dedbd4] p-2 m-2 rounded-b-md">
                <p>{{blog.blog_body}}</p>              
            </div>                
        </div>

        {{#each blog.comments as |comment|}}
            <div class="flex m-auto my-5 border-4 border-[#323232] bg-[#dedbd4] rounded-xl max-w-2xl">
                <div class="bg-[#bab0a1] p-2 m-2 rounded-md text-center w-1/4 flex-0">
                    <p>{{user.name}}</p>
                    <p>{{format_date comment_date}}</p>
                </div>
                <div class="bg-[#dedbd4] p-2 m-2 rounded-r-md w-3/4">
                    {{comment_body}}           
                </div>
            </div>
        {{/each}} 
    </div>

    {{!------------------------}}
    {{!-- Add Comment Button --}}
    {{!------------------------}}
    {{#if logged_in}}
        <div class="flex justify-center my-4 pb-5"> 
            <button id="add-comment-open-modal" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-[#323232] text-zinc-100 rounded-xl hover:bg-[#787878]">Add Comment</button>
        </div>
    {{else}}
        <h3 class="flex items-center justify-center my-4 pb-5 text-lg font-semibold text-center text-orange-400">
            Log in or Sign up post comments
        </h3>
    {{/if}}

    {{!-----------------------}}
    {{!-- Add Comment Modal --}}
    {{!-----------------------}}

    <div id="add-comment-modal" class="modal justify-center w-full text-center">
        <form id="add-comment-form" data-blog-id="{{blog.blog_id}}" class="w-full p-1 m-auto my-5 modal-content">
            <span id="add-comment-close-button" class="close">&times;</span>    
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#323232] bg-[#bab0a1] p-2 m-2 rounded-md"> Add your comment </h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-[#323232] uppercase" for="new-comment"> Comment: </label>
                    <textarea class="w-full px-4 py-3 mb-0 leading-tight duration-200 ease-in-out bg-gray-200 border border-gray-200 appearance-none rounded-xl text-zinc-900 hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="new-comment" name="comment" type="textarea" required placeholder="Type your comment here ... " rows="10" cols="30"></textarea>
                </div>
            </div>            
            {{!-- submit button --}}
            <button id="add-comment-submit-button" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-[#323232] text-zinc-100 rounded-xl hover:bg-[#787878]" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="add-comment-cancel-button" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-[#323232] text-zinc-100 rounded-xl hover:bg-[#787878]" type="button" value="cancel"> Cancel </button>
        </form>
    </div> 

    {{!---------------------}}
    {{!-- Session Element --}}
    {{!---------------------}}

    <div id="session-details" data-user-id="{{user_id}}" data-name="{{name}}" data-email="{{email}}" data-logged-in="{{logged_in}}" data-admin="{{admin}}" class="text-center"> </div>
    <script src="/js/detail.js"></script>