<main class="bg-sky-700 align-center">

    {{!-------------}}
    {{!-- Heading --}}
    {{!-------------}}
    <h1 class="flex items-center justify-center p-2 text-2xl font-bold text-center md:text-3xl text-orange-400">
        &nbsp;{{blog.blog_title}}&nbsp;
        
    </h1>

    <h2 class="items-center justify-center p-2 text-lg font-bold text-center md:text-2xl text-zinc-900" >
        <span class="font-bold text-orange-400">
            <i class="fa-solid fa-computer fa-beat fa-xl"></i> &nbsp;             
        </span>
    </h2>

    {{!--------------}}
    {{!-- One Blog --}}
    {{!--------------}}
    <div class="mx-auto bg-sky-700 w-5/6">        
        <div class="bg-sky-200 m-2 my-5 border-8 border-sky-300 rounded-2xl ">             
                {{!-- Blog Title and author --}}
                <div class=" flex bg-sky-300 p-2 ">
                    <div class="w-3/5 text-2xl font-semibold hover:font-semibold hover:text-orange-600 duration-300 ease-in-out ">
                        <p>{{blog.blog_title}}</p>                           
                    </div>
                    <div class="text-sm w-2/5 text-right">
                        <p> Posted by {{blog.user.name}} On {{format_date blog.blog_date}}</p>                                                    
                    </div>
                </div>
                {{!-- Blog body --}}
                <div class=" bg-sky-200 p-2 m-auto border-8 border-sky-200 rounded-2xl ">
                    <p>{{blog.blog_body}}</p>              
                </div>                
        </div>

        {{#each blog.comments as |comment|}}
            <div class="bg-sky-200 my-5 border-8 border-sky-300 rounded-2xl w-4/5 m-auto">                             
                    {{!-- Comment box --}}
                    <div class=" flex bg-sky-300 p-2 ">
                        <div class="text-2xl font-semibold hover:font-semibold hover:text-orange-600 duration-300 ease-in-out "></div>
                    </div>
                    {{!-- Comment and author --}}
                    <div class=" bg-sky-200 p-2 w-full m-auto ">
                        <p> {{comment_body}}</p>              
                    </div>
                    <div class="text-sm w-full text-right p-2">
                        <p> Posted by {{user.name}} On {{format_date comment_date}}</p>                            
                    </div>
                
            </div>
        {{/each}} 
    </div>

    {{!------------------------}}
    {{!-- Add Comment Button --}}
    {{!------------------------}}

    <div class="flex justify-center my-4 pb-5"> 
        <button id="add-comment-open-modal" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700">Add Comment</button>
    </div>

    {{!-----------------------}}
    {{!-- Add Comment Modal --}}
    {{!-----------------------}}

    <div id="add-comment-modal" class="modal justify-center w-full text-center">
        <form id="add-comment-form" data-blog-id="{{blog.blog_id}}" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="add-comment-close-button" class="close">&times;</span>    
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Add your comment </h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="new-comment"> Comment: </label>
                    <textarea class="w-full px-4 py-3 mb-0 leading-tight duration-200 ease-in-out bg-gray-200 border border-gray-200 appearance-none rounded-xl text-zinc-900 hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="new-comment" name="comment" type="textarea" required placeholder="Type your comment here ... " rows="10" cols="30"></textarea>
                </div>
            </div>            
            {{!-- submit button --}}
            <button id="add-comment-submit-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="add-comment-cancel-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div> 


    {{!------------------------}}
    {{!-- Update Brand Modal --}}
    {{!------------------------}}

    {{!-- <div id="editModal" class="modal justify-center w-full text-center">
        <form id="editForm" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="editModalClose" class="close">&times;</span>        
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Update Brand</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="editedBrandName"> Wine Name </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="editedBrandName" name="brandName" type="text" required placeholder="Enter Brand name...">
                </div>
            </div>
            <button id="edit-brand-submit-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Save Changes </button>
            <button id="edit-brand-cancel-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
            <button id="edit-brand-delete-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-red-500 text-zinc-100 rounded-xl hover:bg-red-700" type="button" value="button"> Delete Brand </button>
        </form>
    </div>  --}}

    {{!----------------------------}}
    {{!-- Inactivate Brand Modal --}}
    {{!----------------------------}}

    {{!-- <div id="deactivateModal" class="modal justify-center w-full text-center">
        <div class="modal-content">
            <span id="inactivate-brand-close-button" class="close">&times;</span>
            
            <h1 class = "text-2xl"> ⚠️🚨 Are you sure?🚨⚠️ </h1>        
            <h2 id="inactivate-wine-heading" class = "m-2 text-2xl text-[#722F37]">Dyanmically Updated</h2>        
            <p class="flex items-center justify-center m-2 text-center">Deleting a Brand will also delete its Wines, Vintages and Transactions</p>
            <p class="flex items-center justify-center m-2 text-center">This cannot be undone</p>
            
            <form id="deactivateForm" class="flex flex-col items-center justify-center">        
                <input type="hidden" id="deactivateBrandId" name="brandId" />
                <button type="submit" class="my-4 space-y-4 duration-200 ease-in-out btn-danger rounded-xl">Confirm Delete</button>
                <button type="button" class="my-4 space-y-4 duration-200 ease-in-out btn-secondary rounded-xl" id="inactivate-brand-cancel-button">Cancel</button>
            </form>
        </div>
    </div> --}}
</main>

    {{!---------------------}}
    {{!-- Session Element --}}
    {{!---------------------}}

    <div id="session-details" data-user-id="{{user_id}}" data-name="{{name}}" data-email="{{email}}" data-logged-in="{{logged_in}}" data-admin="{{admin}}" class="text-center"> </div>

    <script src="/js/detail.js"></script>