<main class="align-center">

    {{!-------------}}
    {{!-- Heading --}}
    {{!-------------}}
    <h1 class="flex items-center justify-center p-2 text-3xl font-semibold text-center md:text-4xl text-[#323232]">
        &nbsp;Log in&nbsp;
    </h1>

    {{!----------------}}
    {{!-- Login Form --}}
    {{!----------------}}
    <div class="mx-auto w-11/12 max-w-2xl">        
        <div class"justify-center text-center">
            <form id="login-form" class="m-auto my-5 border-4 border-[#323232] bg-[#dedbd4] rounded-xl max-w-3xl text-center">
                <h2 class="w-11/12 mx-auto block uppercase text-lg font-semibold md:text-2xl text-[#323232] bg-[#bab0a1] p-2 m-5 rounded-md"> Log In </h2>    
                {{!-- <div class="flex flex-wrap "> --}}
                    <div class="w-full px-1 mx-auto my-2 justify-center">
                        <label class="w-5/6 mx-auto text-left block mb-2 text-xs font-bold tracking-wide text-[#323232] uppercase" for="login-email"> Email: </label>
                        <input class="w-11/12 px-4 py-3 mb-0 leading-tight duration-200 ease-in-out bg-gray-200 border border-gray-200 appearance-none rounded-xl text-zinc-900 hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="login-email" name="email" type="text" required placeholder="Email...">
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="flex flex-wrap mx-1 my-2"> --}}
                    <div class="w-full px-1 mx-auto my-2">
                        <label class="w-5/6 mx-auto text-left block mb-2 text-xs font-bold tracking-wide text-[#323232] uppercase" for="login-password"> Password </label>
                        <input class="w-11/12 px-4 py-3 mb-0 leading-tight duration-200 ease-in-out bg-gray-200 border border-gray-200 appearance-none rounded-xl text-zinc-900 hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="login-password" name="password" type="password" required placeholder="Password... "></input>
                    </div>
                {{!-- </div>               --}}
                {{!-- submit button --}}
                <button id="login-login-button" class="px-6 py-2 my-5 font-bold duration-200 ease-in-out bg-[#323232] text-zinc-100 rounded-xl hover:bg-[#787878]" type="submit" value="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;Log In</button>
                {{!-- cancel button --}}
                
            </form>  
        </div>
    </div>

    {{!--------------------}}
    {{!-- Sign Up Button --}}
    {{!--------------------}}
    <div class="text-center">Don't have an account?</div>
    <div class="flex justify-center my-0 pb-5">         
        <a href="/signup/"><button class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-[#323232] text-zinc-100 rounded-xl hover:bg-[#787878]"><i class="fa-solid fa-user-plus"></i> &nbsp; Sign Up</button></a>
    </div>

    {{!---------------------------------}}
    {{!-- Special Quick Log in Admin --}}
    {{!---------------------------------}}
    
    <div class="flex justify-center my-4 pb-5"> <!-- Add 'mt-4' class for margin-top -->
        <button id="log-in-button-admin" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-green-600 text-zinc-100 rounded-xl hover:bg-green-800"><i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp; Log in (admin@email.com 12345678)</button>
    </div>

    {{!------------------------------}}
    {{!-- Special Quick Log in HH --}}
    {{!------------------------------}}
    
    <div class="flex justify-center my-4 pb-5"> <!-- Add 'mt-4' class for margin-top -->
        <button id="log-in-button-HH" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-green-600 text-zinc-100 rounded-xl hover:bg-green-800"><i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp; Log in (HH@email.com 12345678)</button>
    </div>

    {{!------------------------------}}
    {{!-- Special Quick Log In js --}}
    {{!------------------------------}}
    
    <div class="flex justify-center my-4 pb-5"> <!-- Add 'mt-4' class for margin-top -->
        <button id="log-in-button-JS" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-green-600 text-zinc-100 rounded-xl hover:bg-green-800"><i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp; Log in (js@email.com 87654321)</button>
    </div>
</main>

    {{!---------------------}}
    {{!-- Session Element --}}
    {{!---------------------}}

<div id="session-details" data-user-id="{{user_id}}" data-name="{{name}}" data-email="{{email}}" data-logged-in="{{logged_in}}" data-admin="{{admin}}" class="text-center"></div>

<script src="/js/login.js"></script>